/******   Photo Gallery Styling  ******/

.album_containers{
	display:none;
}

#basic_div{
	color:white;
	font-size:26px;
}

#basic_div button{
	color:white;
	font-size:22px;
}

.photo_gallery .row{
	padding:25px;
}

.photo_gallery  img{
	width:100%;
	height:100%;
	cursor:pointer;
	border:5px ridge white;
	border-radius:10px;
}

.photo_gallery ul{
	padding:0 0 0 0;
	margin:0 0 0 0;
}	

.photo_gallery ul li{
	list-style:none;
	margin-bottom:25px;
	width:160px;
	height:160px;
}

#album_selector{
	padding:0;
	margin-bottom:45px;
}

#album_selector button{
	border:4px ridge white ;
	background-color:rgb(35,35,35) ;
}

#album_selector button:hover{
	border-style:dotted;
	font-weight:900;
	font-size:101%;
}
/********** Responsive Video Embed ********/

#video_wrapper{
	margin-bottom:25px;
	border:solid;

	-webkit-box-shadow: 0 -1px 13px 8px #9E9E9E;
	-moz-box-shadow: 0 -1px 13px 8px #9E9E9E;
	box-shadow: 0 -1px 13px 8px #9E9E9E;	
}


#next-button{
	cursor:pointer;
	padding:1px 7px;
	margin-bottom:10px;
	border-style:inset;
	background-color:black;
	border-color:white;
}

.btn {
    white-space: normal;
}

#video_no{
	font-size:20px;
}